name: Publish Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'Dockerfile'
      - '.github/workflows/publish.yml'
      - 'package.json'

jobs:
  Publish:
    name: Publish Docker Image
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: useblacksmith/setup-docker-builder@v1
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: useblacksmith/build-push-action@v2
        with:
          push: true
          context: .
          tags: |
            ghcr.io/cobaltia/cobaltia:latest
            ghcr.io/cobaltia/cobaltia:${{ github.sha }}
          build-args: |
            DATABASE_URL=${{ secrets.BUILD_DATABASE_URL }}
